@use './mixins.scss' as *;
.container {
  padding: 0 20px;
  margin: 0 auto;
  .header {
    margin-bottom: 20px;
  }
  .main {
    display: grid;
    grid-area: main;
    .left {
      background: palegreen;
    }
    .content {
      margin: 0 20px;
      background-color: palevioletred;
    }
  }
  .footer {
    background: purple;
  }
  @include media(desktop) {
    .main {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 'left content right';
      .left {
        grid-area: left;
      }
      .content {
        grid-area: content;
      }
      .right {
        grid-area: right;
      }
    }
  }
  @include media(tablet) {
    .main {
      grid-template-columns: 3fr 1fr;
      grid-template-areas: ' content right';
      .left {
        display: none;
      }
      .content {
        grid-area: content;
      }
      .right {
        grid-area: right;
      }
    }
  }

  @include media(mobile) {
    .main {
      grid-template-columns: 1fr;
      grid-template-areas: 'content';
      .left,
      .right {
        display: none;
      }
      .content {
        grid-area: content;
      }
    }
  }
}
