@mixin media($breakpoint) {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  @if $breakpoint == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: 768px) and (max-width: 1400px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1401px) {
      width: 70%;
      padding: 0 100px;
      @content;
    }
  }
}
